html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #DEF;
}

span.footprint {
	font-size: 0.5em;
}

.reveal ol {
	margin: 0;
}

.reveal section.authors ul li {
	font-family: 'Alegreya', serif;
  font-size: 1em;
}

.ss-navigate table, .ss-navigate tbody {
	width: 100%;
}

input {
	padding: 0.4em;
	font-size: 1em;
}

input[type="submit"] {
	background-color: white;
	border: none;
	border-radius: 3em;
	cursor: pointer;
}
